/* CSS Document */

#wrapper 	{
	border-box: solid;
	height: auto;
	width: auto;
	
}
	

#player {
	background-color: #fff;
	width: 400px;
	margin-left: 300px;
	padding: 5px;
	box-sizing: border-box;
	
}

input[type="image"]  {
	float:left;
	height: 20px;
	margin-left: 2px;
	margin-right: 5px;
	margin-top: 2px;
	
}

vol_img {
	margin-left:150px;
	width: 20px;
	
}

